body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Dosis', sans-serif;
}

#car-img-overlay,
#car-img {
  width: 80%;
}



.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #2CD2FF;
  color: #ffffff;
}

.logo {
  max-width: 120px;
}