body{
  font-family: 'PT Sans', sans-serif;
}
#car-img-overlay, #car-img {
  width: 80%;
}
h4 {
  font-family: 'PT Sans', sans-serif;
  color:#0094ea;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #0094ea;
  color: #ffffff;}

.logo{
  max-width: 120px;
}
