body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}
#container{
    position: relative;
    height: 90vh;
    width: 25%;
    left: 35%;
    margin-top: 20px;
    background-color: #292929;
    overflow: hidden;
}
.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255,255,255,1);
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
.car{
    position: absolute;
    height: 60px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px black;
}
#car{
    bottom: 8%;
    left: 60%;
    background-color: #26c5ff;
}

#car_1{
    top: -100px;
    left: 60%;
    background-color: #FF7F2A;
}
#car_2{
    top: -200px;
    left: 40%;
    background-color: #FF7F2A;
}
#car_3{
    top: -350px;
    left: 50%;
    background-color: #FF7F2A;
}
#car_4{
    top: -500px;
    left: 75%;
    background-color: #FF7F2A;
}
#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}
#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: #FF2A55;
    font-size: 30px;
    margin-top: 30%;
}
.small_text{
    font-size: 15px;
}
#score_div{
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
    background-color: white;
    color: #454545;
    padding: 10px;
    z-index:99;
}
#help{
	text-align: center;
}
#donate{
    position: absolute;
    right: 10px;
    top: 25px;
    background: rgba(255,255,255,0.8);
    padding: 12px;
}